# Base / Common configuration for all environments
DEBUG=false
TITLE=youtube
BASE_URL=http://localhost:8000
SECRET_KEY=yoursecretkeyherewhichisthirtytwobyteslong
CORS_ORIGINS=["*"]

REDIS_DSN=redis://redis:6379/0

ENVIRONMENT=test
#'dev', 'test', 'prod'

# Database Configuration (matches compose.yaml network aliases)
DB__HOST=postgres
DB__PORT=5432
DB__USER=postgres
DB__PASSWORD=postgres
DB__NAME=youtube

# Cache Configuration
CACHE__PROVIDER=redis
CACHE__PREFIX=youtube
CACHE__REDIS__DSN=redis://redis:6379/0

# Storage Configuration
STORAGE__PROVIDER=local
# 'local', 's3'

STORAGE__DIR=/app/storage

# Auth Config
AUTH__COOKIE_MAX_AGE=2592000 
AUTH__SESSION_TTL=2592000
AUTH__CACHE_PREFIX=AUTH 

# Email config 
EMAIL__HOST=smtp.gmail.com
EMAIL__PORT=587
EMAIL__USER=example@gmail.com
EMAIL__PASSWORD=EXAMPLEPASSWORD
EMAIL__SENDER=example@gmail.com

# Verification Config
VERIFY__CACHE_PREFIX=VERIFY
VERIFY__CODE_TTL=600
VERIFY__MAX_ATTEMPTS=5
